<footer class="footer">
  <div class="footer__container">
    <section>
      <h2  class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        A Computer Store é uma loja de informática que atua no mercado desde 2018.
      </p>
    </section>
    <address>
      <h2  class="footer__title">Contato</h2>
      <ul>
          <li>
            <i class="fa-solid fa-map-marker-alt"></i>  Rua Computer Store, 1 - São Paulo - SP
          </li>
          <li>
            <i class="fa-solid fa-phone"></i> (11) 1111-1111
          </li>
          <li>
            <i class="fa-brands fa-whatsapp"></i> (11) 2222-2222
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>  contato@computerstore.com
          </li>
        </ul>
      </address>
    </div>
    <section class="footer__copyright">
        <span class="main-header__title--blue">Computer</span>
        <span class="main-header__title--orange">Store</span><br>
        &COPY; 2018 Todos os direitos reservados
      </section>
</footer>
